@{
    ViewData["Title"] = "Projeto FIEB SESI";
}

<div class="text-center">
    <h1 class="display-4">Questão 1: Criação de Formulário</h1>
    <p>
        

        Construa um formulário de cadastro contemplando os campos e as regras de negócio em questão, utilizando alguma das linguagens de programação indicadas.

        Linguagens de programação indicadas, em ordem de preferência:
        1.	JavaScript
        2.	.Net (C#)
        3.	Java
        
    </p>
</div>
